<div class="border-y-gray-300 border-b-[0.5px]">
  <div>
    <img [src]="tweet.aviSrc" alt="" class="w-12 rounded-full" />
  </div>
  <div>
    <div>
      <p>Lorem Name</p>
      <p>LoremHandle</p>
      <p>Oct 30</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
        />
      </svg>
    </div>
    <p></p>
    <div>
        <div>comments</div>
        <div>ret</div>
        <div>like</div>
        <div>share</div>
    </div>
  </div>
</div>
